.map {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.map-container {
  height: 1000px;
  width: 800px;
  position: relative;
  margin: 0;
  place-self: center;
  background-color: rgba(183, 249, 84, 0.238);
  background-size: cover;
  background-image: url('./../assets/google-map.png');
}

.zone {
  position: absolute;
  width: 160px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  border-radius: 100px;
  border: 2px solid red;
}

.loading-zone {
  top: 20px;
  left: 20px;
  background-color: rgba(0, 255, 0, 0.283);
}

.dumping-zone {
  bottom: 20px;
  right: 20px;
  background-color: rgba(104, 6, 6, 0.308);
}

.truck{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 20px;
  left: 20px;
  transition: transform 2s ease-in-out;
  background-color: 0.5s ease-in-out;
}
